.UserImageWrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.UserImageWrapper img {
  width: 100%;
  border-radius: 50%;
  height: auto;
  max-width: 250px;
}

.CommentBody {
  padding: 1.25rem 0 !important;
}

.CommentBox {
  margin: 20px 0 !important;
  background: #082336 !important;
  color: #fff !important;
  border-color: #3de6af !important;
}

.Subtitle {
  margin-bottom: 0.375rem;
}
