.PageWrapper {
  background-color: #001220;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Title {
  text-transform: uppercase;
  color: #eee;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
