.Toolbar {
  background-color: #082336;
  position: relative;
  z-index: 100;
}

.User {
  display: block;
  padding: 0.5rem 1rem;
}

.Navbar {
  padding: 12px !important;
}

.Brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 0;
}

.IconToggle {
  border: none !important;
}

.List {
  text-align: center;
}

.DashboardLink {
  color: rgba(255, 255, 255, 0.5);
}

.DashboardLink:hover {
  color: rgba(255, 255, 255, 0.75);
}
