.Toolbar {
  background-color: #082336;
}

.NavbarWrapper {
  /* display: inline; */
}

.Brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 0;
}

.IconToggle {
  border: none;
}

.List {
  text-align: center;
}

.DashboardLink {
  color: rgba(255, 255, 255, 0.5);
}

.DashboardLink:hover {
  color: rgba(255, 255, 255, 0.75);
}
