.Modal > div {
  background-color: #082336;
  border: 1px solid #3de6af;
}

.ModalBody,
.ModalFooter {
  border: none !important;
  text-align: center;
}

.ModalBody {
  font-size: 16px;
  text-align: center;
  padding-top: 50px !important;
}

.ModalFooter button {
  max-width: fit-content;
}

.CarModel {
  font-style: italic;
  color: #3de6af;
}

.Car_Attribute_Wrapper {
  margin-top: 20px;
}

.Car_Attribute {
  border: 1px solid #3de6af;
  padding: 4px;
}

.Car_Image {
  max-width: 264px;
  padding-top: 15px;
  border-radius: 3%;
}
