.LoginPage_Wrapper {
  max-width: 450px;
  width: 100%;
  padding: 0 10px;
  text-align: right;
}

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 300;
  background: #001220;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginPage_Input,
.LoginPage_Input:focus {
  background-color: #082336 !important;
  border-color: #48a1e3 !important;
  max-height: 110px !important;
  height: 100% !important;
  font-size: 16px !important;
  color: #48a1e3 !important;
  padding: 16px !important;
}

.LoginPage_Input::placeholder {
  color: #48a1e3 !important;
  font-size: 16px;
}
