.LoginPage {
  background-color: #001220;
  width: 100%;
  height: 100vh;
}

.LoginPage_Wrapper {
  max-width: 450px;
  width: 100%;
}

.LoginPage_Input,
.LoginPage_Input:focus {
  background-color: #082336;
  border-color: #48a1e3;
  max-height: 110px;
  height: 100%;
  font-size: 16px;
  color: #48a1e3;
  padding: 16px;
}

.LoginPage_Input::placeholder {
  color: #48a1e3;
  font-size: 16px;
}
