.Tab_Wrapper {
  display: flex;
  color: #fff;
  margin-bottom: 30px;
  min-height: 550px;
}

.Tab_Content {
  width: 100%;
  padding: 20px;
  background-color: #082336;
  margin: 0 20px;
  border-radius: 1%;
}

.Nav {
  min-width: fit-content;
  border: none;
  height: fit-content;
  background-color: #082336;
  border-radius: 2%;
}

.NavLink {
  color: #fff !important;
  cursor: pointer;
  background-color: #082336;
}

.NavLink:hover {
  border-color: #3de6af !important;
}
