.Image {
  max-width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.Button {
  margin: 20px;
  float: right;
}

.UserWidget_Card {
  max-width: 290px;
  width: 100%;
}
