.Image {
  max-width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.SendBtn button {
  max-width: 200px;
  margin: 20px 0;
}

.UserWidget_Card {
  max-width: 290px;
  width: 100%;
  background: #082336;
  color: #fff;
  border-color: #3de6af;
}

.Subtitle {
  margin-bottom: 0.375rem;
}
