.RegisterPage {
  position: relative;
  top: 243px;
}

.RegisterPage_Wrapper {
  max-width: 450px;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 0 10px;
  left: 50%;
  text-align: right;
  transform: translate(-50%, -50%);
}

.RegisterPage_Input,
.RegisterPage_Input:focus {
  background-color: #082336 !important;
  border-color: #48a1e3 !important;
  max-height: 110px !important;
  height: 100% !important;
  font-size: 16px !important;
  color: #48a1e3 !important;
  padding: 16px !important;
}

.RegisterPage_Input::placeholder {
  color: #48a1e3 !important;
  font-size: 16px;
}
